.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-family: 'title';
  font-size: 10em;
  color: White;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@font-face {
  font-family: title;
  src: url(../../Fonts/PWYummyDonuts2.ttf);
}
/*  */



.book-title {
  font-family: 'Boogaloo', cursive;
  font-size: xx-large;
}

.navs{
  display: flex;
  margin-left: 50px;
}

.fave{
  display: flex;
  justify-content: flex-end;

}
.fave-btn {
  /* display: flex; */
  align-self: flex-start;
}

.slogan{
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  margin-top: 0;
  margin-left: 200px;
}

.food-btn {
  border: none;
  font-family: 'Boogaloo', cursive;
  font-size: 2.5em;
  margin-right: 30px;
  background-color: transparent;
  text-decoration: none;
}

.food-btn:hover {
  color: red;
}


