 .card {
    width: 260px;
    height: 360px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 7px 5px black;
    opacity: .8; 
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: space-evenly;
}

.food-img {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 25px;
}

.food-title {
    font-family: 'Boogaloo', cursive;
    font-size: large;
    letter-spacing: 2px;
}

.top {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
}

.food-container {
    width: 200px;
    height: 150px;
}
.vote-btns {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.like-btn {
    border-radius: 50%;
    width: 83px;
    height: 78px;
    position: absolute;
    margin-top: 7em;
    margin-left: .5em;
    border: 1px solid black;
    font-family: 'Boogaloo', cursive;
}

.like-btn:hover {
    border: 2px solid gold;
}


.vote {
    height: 100px;
    width: 100px;
}

.bottom {
    margin-top: 25px;
}

.link {
    font-family: 'Boogaloo', cursive;
}